<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="connection_string" value="server=(local);database={DB_Name};User ID={User_Name};Password={Password};"/>
    <add key="time_interval_in_days" value="0"/>
    <add key="time_interval_in_hours" value="0"/>
    <add key="time_interval_in_minutes" value="0"/>
    <add key="time_interval_in_seconds" value="0"/>
    <add key="time_interval_in_milliseconds" value="500"/>
    <add key="Number_Of_Channels" value="4"/>
  </appSettings>
</configuration>